@use "./abstracts/variables";
@use "sass:map";
@use "./abstracts/mixins";
@use "./abstracts/themes";
@use "./abstracts/functions";
@use "./base/reset";

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

p {
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-primary);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;
  position: relative;
  transition: color .25s;
}

a:hover {
  color: var(--primary-hover);
}

a:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover::after,
a:focus-visible::after {
  transform: scaleX(1);
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

/* Global button component */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 48px;
  padding: 0 16px;
  border-radius: 128px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--primary, var(--text-primary));
  color: var(--background);
  transition: background-color .3s, color .3s, border-color .3s;
  text-decoration: none;

  //quitar subrayado dinamico
  position: relative;
  overflow: hidden;
}

.button.transparent {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover:not(.transparent) {
    background: var(--primary-hover);
    color: var(--background);
  }

  .button.transparent:hover {
    background: var(--primary-hover);
    color: var(--background);
  }
}

.button:focus-visible {
  outline: 2px solid var(--text-primary);
  outline-offset: 2px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}