/* Basic reset / normalization */
html,
body {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}